In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/census.csv", skipinitialspace = True)

In [3]:
df = pd.read_csv("data/census.csv")

In [4]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
df.columns = df.columns.str.strip()

In [14]:
df.workclass.str.isspace().nunique()

1

In [15]:
df.education.str.isspace().nunique()

1

In [16]:
df["marital-status"].str.isspace().nunique()

1

In [17]:
df.occupation.str.isspace().nunique()

1

In [18]:
df.relationship.str.isspace().nunique()

1

In [19]:
df.race.str.isspace().nunique()

1

In [20]:
df.sex.str.isspace().nunique()

1

In [21]:
df["native-country"].str.isspace().nunique()

1

In [22]:
df.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32537.000000,3.253700e+04,32537.000000,32537.000000,32537.000000,32537.000000
mean,38.585549,1.897808e+05,10.081815,1078.443741,87.368227,40.440329
std,13.637984,1.055565e+05,2.571633,7387.957424,403.101833,12.346889
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.369930e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [9]:
pd.Series({col:df[col].unique() for col in df})

age                [39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 2...
 workclass         [ State-gov,  Self-emp-not-inc,  Private,  Fed...
 fnlgt             [77516, 83311, 215646, 234721, 338409, 284582,...
 education         [ Bachelors,  HS-grad,  11th,  Masters,  9th, ...
 education-num     [13, 9, 7, 14, 5, 10, 12, 11, 4, 16, 15, 3, 6,...
 marital-status    [ Never-married,  Married-civ-spouse,  Divorce...
 occupation        [ Adm-clerical,  Exec-managerial,  Handlers-cl...
 relationship      [ Not-in-family,  Husband,  Wife,  Own-child, ...
 race              [ White,  Black,  Asian-Pac-Islander,  Amer-In...
 sex                                                [ Male,  Female]
 capital-gain      [2174, 0, 14084, 5178, 5013, 2407, 14344, 1502...
 capital-loss      [0, 2042, 1408, 1902, 1573, 1887, 1719, 1762, ...
 hours-per-week    [40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 4...
 native-country    [ United-States,  Cuba,  Jamaica,  India,  ?, ...
 salary                                              [ <=50K,  >50K]
dtype: object

In [13]:
# !pip3 install pandas_profiling

In [27]:
import pandas_profiling

profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [23]:
df = df.drop_duplicates()

In [24]:
len(df)-len(df.drop_duplicates())

0